*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

body{
    font-family: sans-serif;
    color: white;

}

header{
    padding: 4px;
}

i{
    background-color: rgba(66, 65, 65, 0.8);
}

/*HEADER*/
.func-one{
    display: flex;
    justify-content: flex-end;
    
}
.func-one button{
    color: white;
    background-color: rgba(66, 65, 65, 0.8);
    margin: 2px;
    border: none;
    border-radius: 3px;
    padding: 4px;
}

/*MAIN*/
main{
    margin: 100px;
    padding: 50px;
    display: flex;
    flex-direction: column;
}


main div[class="pinco-pallo"]{
    width: 200px;
    min-height: 100px;
    margin: 0px;
    padding: 0px;
    border-radius: 3px;
    background-image: url(https://picsum.photos/seed/picsum/200/300);
    background-repeat: no-repeat;
    background-position: center;
}


/*FOOTER*/
footer{
    background-color: rgba(66, 65, 65, 0.8);
    min-height: 100px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

footer > *{
    width: calc(100% / 3);
}

ul li{
    width: 70px;
    height: 70px;
    padding: 10px;
    list-style: none;
    text-align: center;
    text-size-adjust: 0.5rem;
    background-color: rgba(66, 65, 65, 0.8);
    display: inline-block;
}

footer .func-flex-left{
    display: flex;
    justify-content: flex-start;
}

footer .func-flex-center{
    display: flex;
    justify-content: center;
}

footer .func-right{
    display: flex;
    justify-content: flex-end;
}

.func-right button{
    color: white;
    margin: 2px;
    border: none;
    border-radius: 3px;
    padding: 4px;
}
