*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

body{
    font-family: sans-serif;
    color: white;
    background-color: black;

}

header{
    flex-basis: 75px;
}


.full-page{
    display: flex;
    height: 100vh;
    flex-direction: column;
}

/*HEADER*/
.func-one{
    display: flex;
    justify-content: flex-end;
    
}
.func-one button{
    color: white;
    background-color: rgba(66, 65, 65, 0.8);
    margin: 2px;
    border: none;
    border-radius: 3px;
    padding: 4px;
}

/*MAIN*/
main{
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 0;
    flex-grow: 1;
}

main div{
    width: 200px;
    height: 100px;
    margin-left: 2px;
    margin-top: 0px;
    display: inline-block;
}

main div[class="pinco-pallo"]{
    min-height: 300px;
    margin: 0px;
    padding: 0px;
    background-image: url(https://picsum.photos/seed/picsum/200/100);
    background-repeat: no-repeat;
}

span[class="pinco-pallo-user"]{
    padding: 3px;
    background-color: rgba(66, 65, 65, 0.8);
    position: relative;
    top: 80px;
    left: 90px;

}


/*FOOTER*/
footer{
    background-color: rgba(66, 65, 65, 0.8);
    flex-basis: 50px;

}

footer > *{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div[class="func-left-buttons"]{
    display: inline-block;
}

div[class="func-center-buttons"]{
    display: inline-block;
}

footer .func-flex-left{
    display: flex;
    justify-content: flex-start;
}

footer .func-flex-center{
    display: flex;
    justify-content: center;
}

footer .func-right{
    display: flex;
    justify-content: flex-end;
}

.func-right button{
    color: white;
    background: none;
    margin: 2px;
    border: none;
    border-radius: 3px;
    padding: 4px;
}
